/node_modules
/.idea
/.vscode
/public
/src
/.env
/.eslintrc.js
/.gitattributes
/.gitignore
/babel.config.js
/deploy.sh
/prettier.config.js
/vue.config.js
/dist
*.html
*.map
*.common.js
*.umd.js
/.browserslistrc
/.editorconfig
/.eslintignore
/.stylelintrc.js
/jsconfig.json